################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LinksApi/.vs/LinksApi
/LinksApi/LinksApi/bin/Debug/net8.0
/LinksApi/LinksApi/obj
